<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap6 rescap">

  <Identity
    Name="11351leisn.MeasurePixels"
    Publisher="CN=96E782D8-9A0E-4DD9-8DD8-5BD708C018E4"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7235c94b-d2c5-4c00-bd3f-223660cd1e8f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Measure Pixels</DisplayName>
    <PublisherDisplayName>leisn</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MeasurePixels.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square44x44Logo="Assets\Square44x44Logo.png"
		Square150x150Logo="Assets\Square150x150Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent" >
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"
						 Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <uap6:Capability Name="graphicsCapture"/>
    <rescap:Capability Name="confirmAppClose"/>
  </Capabilities>
</Package>